@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Gajraj+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #000000 0%, #111017 50%, #201d31 100%);
    background-repeat: no-repeat;
    height: 100% !important;
}